@model List<User>
@inject Microsoft.AspNetCore.Identity.UserManager<User> userManager;

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Fullname</th>
            <th scope="col">Roles</th>
            <th scope="col">Oyun Sayi</th>
            <th scope="col">Ortalama 🧭</th>
            <th scope="col">Son Gorulme 👁</th>
            <th scope="col">Settings</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            int count = 1;

            @foreach (var user in Model)
            {
                <tr>
                    <th scope="row">@count</th>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @user.FirstName @user.LastName
                    </td>
                    <td>
                        @{
                            var roles = await userManager.GetRolesAsync(user);
                            foreach (var role in roles)
                            {
                                <span>@role</span>
                            }
                        }
                    </td>

                    <td>
                        @user.ScoreCount
                    </td>
                    <td>
                        @{
                          double a =   @user.UserBestScore;
                           int b = 0; 
  
                             // type conversion 
                             b = (int)a; 
                        }
                        @b
                    </td>
                     <td>
                        @user.LastSeen
                    </td>
                    <td>
                        <a href="/dashboard/user/addrole/@user.Id" class="btn btn-warning">Edit</a>
                        <a href="/dashboard/user/deleteuser/@user.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                count++;
            }


        }
        else
        {
            <h5>Melumat yoxdu</h5>
        }
    </tbody>
</table>